.header-logo {
  background-image: url("../image/logo.png");
  background-size: 60px 60px;
  position: absolute;
  height: 60px;
  width: 60px;
  top: -10px;
}

table.colwidths-auto td {
  width: 50%
}